:host {
  text-align: center;
  display: block;
  .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .column {
      display: flex;
      flex: 1;
      flex-direction: column;
      &.left {
        max-width: 250px;
        adm-card {
          margin: 0;
          min-width: 250px;
          margin-bottom: 5px;
        }
      }
      &.center {
        max-width: 800px;
        margin: 0 5px;
        adm-card {
          margin: 0;
          min-width: 800px;
        }
      }
      &.right {
        max-width: 250px;
        adm-card {
          margin: 0;
          min-width: 250px;
          margin-bottom: 5px;
        }
      }
    }
  }
  @media screen and (max-width: 1060px) {
    .wrapper {
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
      .column {
        flex-direction: row;
        &.left {
          align-items: flex-start;
          justify-content: space-between;
          max-width: 810px;
          min-width: 810px;
          adm-card {
            margin: 10px 5px;
          }
        }
      }
    }
  }

  .teams-card {
    .name {
      justify-content: flex-start;
    }
    .action {
      margin-right: -10px;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.5);
      }
    }
  }

  .desktop-card {
    section {
      table {
        border-collapse: separate;
        border-spacing: 1px;
        padding: 10px;
        margin: 0 auto;
        thead {
          td {
            font-weight: 600;
            color: var(--primary-color);
            font-size: 13px;
            border-bottom: 1px solid var(--border-color-middle);
          }
          .subrounds {
            margin-top: 5px;
            padding: 0 5px;
            .subround {
              display: inline-block;
              color: var(--primary-color);
              font-size: 11px;
              width: 15px;
              transition: all 0.2s;
              &.active {
                transform: scale(1.5);
              }
            }
          }
        }
        tr:not(:last-of-type) td {
          border-bottom: 1px solid var(--border-color-middle);
        }
        td {
          &:not(:last-of-type) {
            border-right: 1px solid var(--border-color-middle);
          }
          padding: 10px;
          text-align: center;
        }
        .team-name {
          text-align: left;
          min-width: 100px;
        }
        .personal-link {
          --height: 15px;
          --width: 15px;
          --fill: var(--primary-color);
        }
        .round {
          padding: 5px 0;
          min-width: 75px;
          line-height: 13px;
          transition: font-size 0.2s;
          &.active {
            //background: rgba(255, 255, 0, 0.1);
            font-size: 16px;
          }
        }
        .subround {
          display: inline-block;
          width: 15px;
          min-height: 10px;
          margin: 0 1px;
          a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            transition: all 0.2s;
            width: 15px;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        .total {
          font-weight: 600;
        }
      }
    }
  }
}
