<div *ngIf="state.loading; else loaded" class="page-loader"><adm-spinner></adm-spinner></div>
<ng-template #loaded>
  <div class="wrapper">
    <div class="column left">
      <adm-card>
        <h2>
          <div class="spinner-container"></div>
          <span style="flex: 1; text-align: center;">{{'GAMES.game_info' | translate}}</span>
          <div class="spinner-container"><adm-spinner *ngIf="state.savingInfo"></adm-spinner></div>
        </h2>
        <section #content>
          <game-form [game]="game" #gameForm></game-form>
        </section>
        <section #footer>
          <div class="buttons-row" *ngIf="!state.deleteConfirm">
            <button [disabled]="state.savingInfo" (click)="state.deleteConfirm = true" class="delete-button">
              {{'GAMES.delete_game' | translate}}
            </button>
            <button [disabled]="game.state != GameState.NOT_STARTED || state.savingInfo" (click)="editGame()">
              {{'COMMON.save_changes' | translate}}
            </button>
          </div>
          <ng-container *ngIf="state.deleteConfirm">
            <div class="confirm-phrase">{{'GAMES.confirm_delete' | translate}}</div>
            <div class="buttons-row">
              <button (click)="state.deleteConfirm = false">
                {{'COMMON.cancel' | translate}}
              </button>
              <button (click)="deleteGame()" class="delete-button">
                {{'GAMES.delete_game' | translate}}
              </button>
            </div>
          </ng-container>
        </section>
      </adm-card>

      <adm-card *ngIf="!state.addingTeamMode" class="teams-card">
        <h2>
          <div class="spinner-container"></div>
          <span style="flex: 1; text-align: center;">{{'TEAMS.teams' | translate}}</span>
          <div class="spinner-container"><adm-spinner *ngIf="state.editingTeam"></adm-spinner></div>
        </h2>
        <section #content>
          <ng-container *ngIf="game.teams.length; else noTeams">
            <adm-list>
              <adm-list-item *ngFor="let team of game.teams">
                <div class="name">{{team.name}}</div>
                <div class="action" (click)="removeTeam(team)"><adm-icon name="close"></adm-icon></div>
              </adm-list-item>
            </adm-list>
          </ng-container>
          <ng-template #noTeams>
            <div class="nothing-found">{{'GAMES.no_teams' | translate}}</div>
          </ng-template>
        </section>
        <section #footer>
          <div class="buttons-row">
            <button [disabled]="game.state != GameState.NOT_STARTED" (click)="state.addingTeamMode = true">
              {{'GAMES.add_team' | translate}}
            </button>
          </div>
        </section>
      </adm-card>

      <adm-card *ngIf="state.addingTeamMode">
        <h2>
          <div class="spinner-container"></div>
          <span style="flex: 1; text-align: center;">{{'GAMES.add_team' | translate}}</span>
          <div class="spinner-container"><adm-spinner *ngIf="state.editingTeam"></adm-spinner></div>
        </h2>
        <section>
          <adm-element-container [validators]="validators.teamName" [label]="'TEAMS.title' | translate">
            <input
              adm-input-element
              type="text"
              [(ngModel)]="newTeamName"
              [placeholder]="'TEAMS.title' | translate"
              (keydown.enter)="addTeam()"
            />
          </adm-element-container>
        </section>
        <section #footer>
          <div class="buttons-row">
            <button [disabled]="state.editingTeam" (click)="state.addingTeamMode = false">
              {{'COMMON.cancel' | translate}}
            </button>
            <button [disabled]="state.editingTeam" (click)="addTeam()">{{'GAMES.add_team' | translate}}</button>
          </div>
        </section>
      </adm-card>

      <adm-card class="rounds-card">
        <h2>
          <div class="spinner-container"></div>
          <span style="flex: 1; text-align: center;">{{'GAMES.rounds' | translate}}</span>
          <div class="spinner-container"><adm-spinner *ngIf="state.savingInfo"></adm-spinner></div>
        </h2>
        <section>
          <adm-element-container *ngFor="let round of availableRounds">
            <adm-checkbox
              [value]="isRoundIncluded(round)"
              (toggle)="toggleRound(round)"
              [title]="round.name"
              [disabled]="game.state != GameState.NOT_STARTED"
              adm-checkbox-element
            >
            </adm-checkbox>
          </adm-element-container>
        </section>
      </adm-card>
    </div>
    <div class="column center">
      <adm-card class="desktop-card">
        <h2>
          <div class="spinner-container"></div>
          <span style="flex: 1; text-align: center;">
            {{'GAMES.desktop' | translate}}: {{('GAMES.STATES' | translate)[game.state]}}
          </span>
          <div class="spinner-container"><adm-spinner *ngIf="state.savingInfo"></adm-spinner></div>
        </h2>
        <section>
          <ng-container *ngIf="game.rounds.length && game.teams.length else noRoundsTeams">
            <table>
              <thead>
                <tr>
                  <td class="team-name">Команда</td>
                  <td class="personal-link">Бланки</td>
                  <td
                    class="round"
                    *ngFor="let round of game.rounds; let rIdx = index"
                    [class.active]="game.state == GameState.IN_PROGRESS && game.currentRound == rIdx"
                  >
                    {{rIdx + 1}} тур
                    <div class="subrounds" *ngIf="round.subrounds.length > 1">
                      <span
                        class="subround"
                        *ngFor="let subround of round.subrounds; let sIdx = index"
                        [class.active]="sIdx == game.currentSubround && rIdx == game.currentRound"
                      >
                        {{sIdx + 1}}
                      </span>
                    </div>
                  </td>
                  <td class="total">Итог</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let team of game.teams">
                  <td class="team-name">
                    {{team.name}}
                  </td>
                  <td class="personal-link">
                    <a [href]="'/blanks/' + game._id +  '/' + team.code" target="_blank">
                      <adm-icon name="link"></adm-icon>
                    </a>
                  </td>
                  <td class="round" *ngFor="let round of team.rounds; let rIdx = index">
                    <span
                      class="subround"
                      *ngFor="let subround of round.subrounds; let sIdx = index"
                      [class.active]="game.state == GameState.IN_PROGRESS && game.currentRound == rIdx && game.currentSubround == sIdx"
                    >
                      <a
                        [href]="'/evaluate/' + game._id +  '/' + game.name + '/' + team.code + '/' + round._id + '/' + subround._id"
                        target="_blank"
                        *ngIf="subround.submittedTimestamp"
                      >
                        <b>{{subround.evaluated ? subround.score : '?'}}</b>
                      </a>
                    </span>
                  </td>
                  <td class="total">
                    {{calculateTeamScore(team)}}
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <ng-template #noRoundsTeams>
            <div class="nothing-found">Добавьте команды и раунды</div>
          </ng-template>
        </section>
        <section #footer>
          <div class="buttons-row" *ngIf="!state.revertConfirm">
            <button
              *ngIf="game.state == GameState.NOT_STARTED"
              (click)="startGame()"
              [disabled]="!game.teams.length || !game.rounds.length"
            >
              {{'GAMES.start_game' | translate}}
            </button>
            <button
              *ngIf="game.state == GameState.IN_PROGRESS"
              (click)="state.revertConfirm = true"
              class="delete-button"
            >
              {{'GAMES.revert_game' | translate}}
            </button>
            <button *ngIf="game.state == GameState.IN_PROGRESS && game.currentRound > 0" (click)="toPrevRound()">
              {{'GAMES.to_prev_round' | translate}}
            </button>
            <button
              *ngIf="game.state == GameState.IN_PROGRESS && (game.currentRound < game.rounds.length - 1 || game.currentSubround < game.rounds[game.currentRound].subrounds.length - 1)"
              (click)="startNewRound()"
            >
              {{'GAMES.start_round' | translate}}
            </button>
            <button *ngIf="game.state == GameState.FINISHED" (click)="reopenGame()">
              {{'GAMES.reopen_game' | translate}}
            </button>
            <button
              *ngIf="game.state == GameState.IN_PROGRESS && game.currentRound == game.rounds.length - 1 && game.currentSubround == game.rounds[game.currentRound].subrounds.length - 1"
              (click)="finishGame()"
            >
              {{'GAMES.finish_game' | translate}}
            </button>
          </div>
          <ng-container *ngIf="state.revertConfirm">
            <div class="confirm-phrase">{{'GAMES.confirm_revert' | translate}}</div>
            <div class="buttons-row">
              <button (click)="state.revertConfirm = false">
                {{'COMMON.cancel' | translate}}
              </button>
              <button (click)="revertGame()" class="delete-button">
                {{'GAMES.revert_game' | translate}}
              </button>
            </div>
          </ng-container>
        </section>
      </adm-card>
      <adm-card class="broadcast-card">
        <h2>
          <div class="spinner-container">
            <div class="timer-button">
              <button (click)="reduceTimer()"><adm-icon name="minus"></adm-icon></button>
              {{timerSec}}
              <button (click)="increaseTimer()"><adm-icon name="plus"></adm-icon></button>
              <button (click)="setTimer()"><adm-icon name="play"></adm-icon></button>
            </div>
          </div>
          <span style="flex: 1; text-align: center;">
            {{'GAMES.broadcast' | translate}}
            <a [href]="'/live/' + game._id +  '/' + game.name" target="_blank">
              [ Ссылка: <adm-icon name="link"></adm-icon> ]
            </a>
          </span>
          <div class="spinner-container"><adm-spinner *ngIf="state.uploadingSlides"></adm-spinner></div>
        </h2>
        <section>
          <ng-container *ngIf="game.broadcast.slides.length; else noSlides">
            <div class="slides-overview" *ngIf="!game.broadcast.inProgress">
              <img [src]="getSlideUrl(slide)" *ngFor="let slide of game.broadcast.slides" />
            </div>

            <div class="broadcast" *ngIf="game.broadcast.inProgress">
              <ng-container *ngIf="game.broadcast.currentMode == 'slide'; else tableMode">
                <div class="current">слайд: {{game.broadcast.currentSlide + 1 }}/{{game.broadcast.slides.length}}</div>
                <button (click)="toPrevSlide()" class="left" *ngIf="game.broadcast.currentSlide > 0">
                  <adm-icon name="chevron-right"></adm-icon>
                </button>
                <button
                  (click)="toNextSlide()"
                  class="right"
                  *ngIf="game.broadcast.currentSlide < game.broadcast.slides.length -1 "
                >
                  <adm-icon name="chevron-right"></adm-icon>
                </button>
                <button (click)="toTable()" class="mode-change">Переключиться на таблицу</button>
              </ng-container>
              <ng-template #tableMode>
                <button (click)="toSlide()" class="mode-change">Переключиться на слайды</button>
              </ng-template>
              <live [game]="game" [silentMode]="true"></live>
            </div>
          </ng-container>
          <ng-template #noSlides>
            <div class="nothing-found">
              {{'GAMES.upload_broadcast_slides' | translate}}
            </div>
          </ng-template>
        </section>
        <section>
          <div class="buttons-row" *ngIf="!state.deleteSlidesConfirm">
            <button *ngIf="!game.broadcast.slides.length">
              <input type="file" multiple accept="image/jpeg" (change)="uploadSlides($event)" />
              {{'GAMES.upload_slides' | translate}}
            </button>
            <ng-container *ngIf="game.broadcast.slides.length">
              <button class="delete-button" (click)="state.deleteSlidesConfirm = true">
                {{'GAMES.delete_slides' | translate}}
              </button>
              <button (click)="startBroadcasting()" *ngIf="!game.broadcast.inProgress">
                {{'GAMES.start_broadcasting' | translate}}
              </button>
              <button (click)="stopBroadcasting()" *ngIf="game.broadcast.inProgress">
                {{'GAMES.stop_broadcasting' | translate}}
              </button>
            </ng-container>
          </div>
          <ng-container *ngIf="state.deleteSlidesConfirm">
            <div class="confirm-phrase">{{'GAMES.confirm_delete_slides' | translate}}</div>
            <div class="buttons-row">
              <button (click)="state.deleteSlidesConfirm = false">
                {{'COMMON.cancel' | translate}}
              </button>
              <button (click)="deleteSlides()" class="delete-button">
                {{'GAMES.delete_slides' | translate}}
              </button>
            </div>
          </ng-container>
        </section>
      </adm-card>
    </div>
  </div>
</ng-template>
