:host {
  display: block;
  text-align: center;
  max-width: 100%;
  position: relative;

  .timer {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 50px;
    color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.6);
    transition: background-color 1s;
    text-align: center;
    &.calm {
      background: #4b8a99;
    }
    &.warning {
      background: #ecbb24;
    }
    &.danger {
      background: darkred;
    }
  }

  .twitch {
    max-width: 800px;
    margin: 10px auto;
    margin-top: -65px;
    ::ng-deep iframe {
      box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.6);
    }
  }

  .silent {
    margin-top: 85px;
  }

  img {
    margin: 0 auto;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.6);
    max-width: 100%;
    max-height: 600px;
  }
  $tdBorder: 2px solid rgba(255, 255, 255, 0.15);

  table {
    max-width: inherit;
    border-collapse: separate;
    border-spacing: 1px;
    margin: 0 auto;
    background: linear-gradient(73deg, #f16820, #c7581e);
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    thead {
      td {
        font-weight: 600;
        color: white;
        font-size: 18px;
        border-bottom: $tdBorder;
      }
    }
    tr:not(:last-of-type) td {
      border-bottom: $tdBorder;
    }
    td {
      &:not(:last-of-type) {
        border-right: $tdBorder;
      }
      color: rgba(255, 255, 255, 0.9);
      font-size: 14px;
      padding: 15px 10px;
      text-align: center;
      font-weight: 600;
    }
    .team-name {
      text-align: left;
      min-width: 100px;
    }
    .round {
      padding: 5px 0;
      min-width: 75px;
      line-height: 13px;
      transition: font-size 0.2s;
      &.active {
        //background: rgba(255, 255, 0, 0.1);
        font-size: 16px;
      }
    }
    .subround {
      display: inline-block;
      width: 15px;
      min-height: 10px;
      margin: 0 1px;
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 0.2s;
        width: 15px;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .total {
      font-weight: 600;
    }

    td {
      &:nth-child(2n-1) {
        background: repeating-linear-gradient(
          45deg,
          rgba(255, 255, 255, 0.03),
          rgba(255, 255, 255, 0.03) 2px,
          rgba(0, 0, 00, 0) 2px,
          rgba(0, 0, 0, 0) 3px
        );
      }
      &:nth-child(2n) {
        background: repeating-linear-gradient(
          -45deg,
          rgba(255, 255, 255, 0.03),
          rgba(255, 255, 255, 0.03) 2px,
          rgba(0, 0, 0, 0) 2px,
          rgba(0, 0, 0, 0) 3px
        );
      }
    }
  }
  @media screen and (max-width: 500px) {
    .round {
      min-width: 25px !important;
    }
    thead .round {
      font-size: 12px;
    }
    .team-name {
      font-size: 13px;
    }
  }
}
