<div class="twitch" id="twitch"></div>

<iframe
  *ngIf="src && !silentMode"
  width="800"
  height="100"
  [src]="src"
  frameborder="0"
  allow=" autoplay; encrypted-media; picture-in-picture"
></iframe>

<div [class.silent]="silentMode">
  <ng-container *ngIf="game.broadcast.currentMode == 'slide'; else table">
    <div
      class="timer"
      *ngIf="timerRunning"
      [class.calm]="timerLeft > 15"
      [class.danger]="timerLeft < 5"
      [class.warning]="timerLeft >= 5 && timerLeft <= 15"
    >
      {{ timerLeft }}
    </div>
    <img [src]="getSlideUrl(game.broadcast.resolvedSlide)" />
  </ng-container>
  <ng-template #table>
    <table>
      <thead>
        <tr>
          <td class="team-name">Команда</td>
          <td class="round" *ngFor="let round of game.rounds; let rIdx = index">{{ rIdx + 1 }} тур</td>
          <td class="total">Итог</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of game.teams">
          <td class="team-name">
            {{ team.name }}
          </td>
          <td class="round" *ngFor="let round of team.rounds; let rIdx = index">
            {{ calculateRoundScore(round) }}
          </td>
          <td class="total">
            {{ calculateTeamScore(team) }}
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
