<div *ngIf="state.loading; else loaded" class="page-loader"><adm-spinner></adm-spinner></div>
<ng-template #loaded>
  <div class="wrapepr">
    <div class="game-not-started" *ngIf="game.state == GameState.NOT_STARTED">
      Игра ещё не началась. Бланки ответов станут доступны чуть позже.
    </div>

    <div class="game-finished" *ngIf="game.state == GameState.FINISHED">
      Игра завершена.
      <!--      TODO показывать турнирную таблицу-->
    </div>

    <adm-card *ngIf="game.state == GameState.IN_PROGRESS">
      <h1>
        <div class="spinner-container"></div>
        <span style="flex: 1; text-align: center;"
          >Тур №{{game.currentRound + 1}}. "{{game.rounds[game.currentRound].name}}"</span
        >
        <div class="spinner-container"><adm-spinner *ngIf="state.submitting"></adm-spinner></div>
      </h1>
      <h2><span>Команда "{{team.name}}"</span></h2>
      <section>
        <client-school-round *ngIf="game.rounds[game.currentRound]._id == 0"></client-school-round>
        <client-film-round *ngIf="game.rounds[game.currentRound]._id == 1"></client-film-round>
        <client-literature-round *ngIf="game.rounds[game.currentRound]._id == 2"></client-literature-round>
        <client-quatro-round *ngIf="game.rounds[game.currentRound]._id == 4"></client-quatro-round>
        <client-word-round *ngIf="game.rounds[game.currentRound]._id == 5"></client-word-round>
      </section>
      <section>
        <ng-container *ngIf="!round.submittedTimestamp">
          <div class="buttons-row" *ngIf="!state.submitConfirm">
            <button (click)="state.submitConfirm = true" [disabled]="state.submitting">
              {{'FORMS.submit' | translate}}
            </button>
          </div>
          <ng-container *ngIf="state.submitConfirm">
            <div class="confirm-phrase">{{'FORMS.confirm_submit' | translate}}</div>
            <div class="buttons-row">
              <button (click)="state.submitConfirm = false" [disabled]="state.submitting">
                {{'COMMON.cancel' | translate}}
              </button>
              <button (click)="submit()" [disabled]="state.submitting">
                {{'FORMS.submit' | translate}}
              </button>
            </div>
          </ng-container>
        </ng-container>
        <div class="answers-sent" *ngIf="round.submittedTimestamp">
          Ответы сданы
        </div>
      </section>
    </adm-card>
  </div>
</ng-template>
