:host {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color-light);
  }
  ::ng-deep {
    adm-icon {
      --height: 10px;
      --width: 10px;
    }
    adm-team-logo {
      height: 20px;
      margin-right: 5px;
    }
    adm-flag {
      height: 15px;
      margin-right: 5px;
    }

    div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &.faded {
    opacity: 0.7;
  }
}
