<table>
  <thead>
    <tr>
      <td class="tour">№</td>
      <td class="letter">Буква лишней картинки</td>
      <td class="explanation">Объяснение</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tour">1</td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Г'" />
      </td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Что объединяет?'" />
      </td>
    </tr>
    <tr>
      <td class="tour">2</td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Г'" />
      </td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Что объединяет?'" />
      </td>
    </tr>
    <tr>
      <td class="tour">3</td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Г'" />
      </td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Что объединяет?'" />
      </td>
    </tr>
    <tr>
      <td class="tour">4</td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Г'" />
      </td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Что объединяет?'" />
      </td>
    </tr>
    <tr>
      <td class="tour">5</td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Г'" />
      </td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Что объединяет?'" />
      </td>
    </tr>
    <tr>
      <td class="tour">6</td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Г'" />
      </td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Что объединяет?'" />
      </td>
    </tr>
  </tbody>
</table>
