<section>
  <adm-element-container [label]="'вопрос #' + (idx + 1)" *ngFor="let idx of [0, 1, 2, 3, 4, 5, 6, 7, 8]">
    <input
      adm-input-element
      type="text"
      [(ngModel)]="round.fields[idx].first"
      [placeholder]="'FORMS.answer_text' | translate"
    />
  </adm-element-container>
</section>

<h5>Экспресс-блок:</h5>

<section>
  <adm-element-container [label]="'вопрос #' + (idx + 1)" *ngFor="let idx of [9, 10, 11]">
    <input
      adm-input-element
      type="text"
      [(ngModel)]="round.fields[idx].first"
      [placeholder]="'FORMS.answer_text' | translate"
    />
  </adm-element-container>
</section>
