<section>
  <adm-element-container [label]="'вопрос #1'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>

  <adm-element-container [label]="'вопрос #2'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>

  <adm-element-container [label]="'вопрос #3'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>

  <adm-element-container [label]="'вопрос #4'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>

  <adm-element-container [label]="'вопрос #5'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>

  <adm-element-container [label]="'вопрос #6'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>

  <adm-element-container [label]="'вопрос #7'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>

  <adm-element-container [label]="'вопрос #8'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>

  <adm-element-container [label]="'вопрос #9'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>
</section>

<h5>Экспресс-блок:</h5>

<section>
  <adm-element-container [label]="'вопрос #10'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>

  <adm-element-container [label]="'вопрос #11'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>

  <adm-element-container [label]="'вопрос #12'">
    <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'FORMS.answer_text' | translate" />
  </adm-element-container>
</section>
