:root {
  --center-font: rgba(0, 0, 0, 0.65);
  --center-font-light: rgba(0, 0, 0, 0.3);
  --menu-background: #206575;
  --primary-color: #438393;
  --border-color: rgba(59, 115, 129, 0.31);
  --border-color-middle: rgba(59, 115, 129, 0.18);
  --border-color-light: rgba(59, 115, 129, 0.1);
  --avatar-border: #7daeba;
}
