<table>
  <thead>
    <tr>
      <td class="number">Номер подсказки</td>
      <td class="answer">Текст ответа</td>
      <td class="check">Результат</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let roundNumber of [0, 1, 2]">
      <td class="number">{{ roundNumber + 1 }}</td>
      <td class="answer">{{ subround.fields[roundNumber].first }}</td>
      <td class="check">
        <adm-element-container>
          <adm-checkbox [value]="checkmarks[roundNumber]" (toggle)="toggleCheckmark(roundNumber)" adm-checkbox-element>
          </adm-checkbox>
        </adm-element-container>
      </td>
    </tr>
    <tr class="total">
      <td colspan="2"><b>Итого</b></td>
      <td class="check">
        <adm-element-container>
          <input adm-input-element type="text" [(ngModel)]="subround.score" [placeholder]="0" />
        </adm-element-container>
      </td>
    </tr>
  </tbody>
</table>
