<table>
  <thead>
    <tr>
      <td class="tour">№</td>
      <td class="explanation">Ответ</td>
      <td class="letter">Буква</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tour">1</td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Текст ответа'" />
      </td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Я'" />
      </td>
    </tr>
    <tr>
      <td class="tour">2</td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Текст ответа'" />
      </td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Я'" />
      </td>
    </tr>
    <tr>
      <td class="tour">3</td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Текст ответа'" />
      </td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Я'" />
      </td>
    </tr>
    <tr>
      <td class="tour">4</td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Текст ответа'" />
      </td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Я'" />
      </td>
    </tr>
    <tr>
      <td class="tour">5</td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Текст ответа'" />
      </td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Я'" />
      </td>
    </tr>
    <tr>
      <td class="tour">6</td>
      <td class="explanation">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Текст ответа'" />
      </td>
      <td class="letter">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'А-Я'" />
      </td>
    </tr>
  </tbody>
</table>

<h5>Слово:</h5>
<adm-element-container [label]="'название фильма'">
  <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Название фильма'" />
</adm-element-container>
