<section>
  <adm-element-container [label]="'вопрос #' + (idx + 1)" *ngFor="let idx of [0, 1, 2, 3, 4, 5]">
    <input
      adm-input-element
      type="text"
      [(ngModel)]="subround.fields[idx].first"
      [placeholder]="'FORMS.answer_text' | translate"
    />
  </adm-element-container>
</section>
<h5>Слово:</h5>
<section>
  <adm-element-container [label]="'СЛОВО'" class="film">
    <input adm-input-element type="text" [(ngModel)]="subround.fields[6].first" [placeholder]="'СЛОВО'" />
  </adm-element-container>
</section>
