:host {
  display: block;
  text-align: center;

  .broadcast-not-started {
    padding: 20px;
    font-size: 14px;
  }

  live {
    ::ng-deep {
      img {
        max-width: 800px;
        max-height: 600px;
      }
      table {
        max-width: 800px;
      }
    }
  }
}
