<table>
  <thead>
    <tr>
      <td class="tour">№</td>
      <td class="person">Персонаж</td>
      <td class="book">Название произведения</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tour">1</td>
      <td class="person">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Персонаж'" />
      </td>
      <td class="book">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Название произведения'" />
      </td>
    </tr>
    <tr>
      <td class="tour">2</td>
      <td class="person">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Персонаж'" />
      </td>
      <td class="book">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Название произведения'" />
      </td>
    </tr>
    <tr>
      <td class="tour">3</td>
      <td class="person">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Персонаж'" />
      </td>
      <td class="book">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Название произведения'" />
      </td>
    </tr>
    <tr>
      <td class="tour">4</td>
      <td class="person">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Персонаж'" />
      </td>
      <td class="book">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Название произведения'" />
      </td>
    </tr>
    <tr>
      <td class="tour">5</td>
      <td class="person">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Персонаж'" />
      </td>
      <td class="book">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Название произведения'" />
      </td>
    </tr>
    <tr>
      <td class="tour">6</td>
      <td class="person">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Персонаж'" />
      </td>
      <td class="book">
        <input adm-input-element type="text" [(ngModel)]="round.first" [placeholder]="'Название произведения'" />
      </td>
    </tr>
  </tbody>
</table>
