<table>
  <thead>
    <tr>
      <td class="tour">№</td>
      <td class="person">Персонаж</td>
      <td class="book">Название произведения</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let roundNumber of [0, 1, 2, 3, 4, 5]">
      <td class="tour">{{ roundNumber + 1 }}</td>
      <td class="person">
        <input
          adm-input-element
          type="text"
          [(ngModel)]="subround.fields[roundNumber].first"
          [placeholder]="'Персонаж'"
        />
      </td>
      <td class="book">
        <input
          adm-input-element
          type="text"
          [(ngModel)]="subround.fields[roundNumber].second"
          [placeholder]="'Название произведения'"
        />
      </td>
    </tr>
  </tbody>
</table>
